.card-body-style{
    display: flex;
    justify-content:space-between ;
    align-items:baseline ;
//     flex-direction: column;
//     background-color: red;
// 
}
.btn-style{
    display: flex!important;
    justify-content:space-between ;
    // align-items:baseline ;
    // font-size: 0.5rem!important;
}